.navigate-stations{
   @apply  w-full h-full flex items-center justify-center overflow-hidden;
   font-size: 16px;
   box-sizing: border-box;

}

@media (min-width: 1200px) and (max-width: 1800px){

    .join-station{
        margin-right: 16em;
    }

}

.join-station{
    max-width: 15rem;
}

.join-station-container{
    min-width: 15rem;
}

@media (max-width: 1199px){

    .join-station{
          @apply  flex flex-col w-full ;
          max-width: 15rem;

    }

    .join-station-container{
        margin-top: 90px;
    }

    .navigate-stations{
        @apply flex-col justify-start  ;
        
    }

}
