.connecting,
.connecting:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}
.connecting {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: connect8 1.1s infinite linear;
  animation: connect8 1.1s infinite linear;
}
@-webkit-keyframes connect8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes connect8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
