


@media (width > 1000px){
    .sync-actions{
        @apply absolute right-0 gap-2 flex justify-end;
    }
    
    .resync-button{
        @apply border   border-border-default  hover:bg-hover-intense bg-background-player-button font-bold break-words whitespace-nowrap    flex justify-center items-center rounded-md    gap-1;
        height: 1.7rem;
        width: 6.5rem;
    }
    .resync-split-button{
        @apply  font-bold break-words whitespace-normal  shadow border-border-default  bg-background-player-button hover:bg-hover-intense   flex justify-start items-center pl-2     gap-1;
        height: 1.7rem;
        width: 7.7rem;
    }
}

.resync-icon{
    @apply text-xl;
}

@media (width <= 999px){
    .sync-actions{
        @apply  right-0 gap-2 flex justify-end;
    }

    .resync-button{
        @apply shadow border  font-bold break-words whitespace-nowrap    flex justify-center items-center rounded-md    gap-1 text-sm;
        height: 1.7rem;
        width: 5.7rem;

    }
    .resync-split-button{
        @apply  shadow border-border-default  bg-background-player-button hover:bg-hover-intense font-bold break-words whitespace-normal    flex justify-start items-center pl-2     gap-1 text-sm;
        height: 1.7rem;
        width: 7.4rem;
    }
    
    .resync-icon{
        font-size: 0.84rem;
    }
}

.resync-button-phone{
    @apply flex flex-col font-bold break-words whitespace-nowrap    flex justify-center items-center  gap-0.5 text-sm;
    width: 20vw;
}