.viewers-menu {
    @apply flex flex-col border-t   border-l  border-border-default  bg-background-default  z-20 fixed ;
    height: calc(100vh - 2.7rem );
    width: 25vw;
    top: calc(2.7rem - 1px);
    right: 0;
}

.viewers-menu-phone {
    @apply fixed top-0 left-0 w-full bg-background-default ;
    height: calc(100% - 2.7rem);
    z-index: 110;
}

.viewers-list{
    @apply top-0  relative overflow-y-auto overflow-x-hidden flex flex-col  ;
    height: calc(100% - 1.75rem );
}

.viewers-input-sticky-row{
    @apply h-10 sticky flex items-center border-b  left-0 bg-background-default border-background-default   ;
    top: -2px;
    width: calc(25vw - calc(25vw - 100%)); 
    min-height: 2.25rem;
}

.viewers-input-sticky-row-phone{
    @apply h-10 sticky flex items-center border-b  left-0  bg-background-default border-background-default ;
    top: -2px;
    width: calc(25vw - calc(25vw - 100%)); 
    min-height: 2.25rem;
}

.viewers-input-wrapper{
    @apply flex  left-4 h-10 relative   items-center justify-between z-10;
    width: calc(100% - 2rem);
}

.viewers-input-wrapper-phone{
    @apply flex  left-4 h-10 relative   items-center justify-between z-10;
    width: calc(100% - 2rem);
}

.viewers-input{
    @apply  pl-2 pr-6 focus:shadow  h-6 border focus:border-2    rounded outline-none  bg-background-input focus:bg-background-input-focused border-background-input placeholder-text-secondary focus:border-blue-disabled;
    width: calc(25vw - 2rem);
}


@media (width <= 1300px){

    .viewers-menu {
        @apply absolute mb-2 rounded-b-md overflow-hidden;
        width: 100%;
        height: calc(40vh - 2.7rem);
        min-height: calc(17rem - 2.7rem);
    }

    .viewers-input-wrapper{
    }
   
    .viewers-input-sticky-row{
        width: 100%; 
    }

    .viewers-input{
        width:100%;
    }

}

