@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: Inter, sans-serif;
}

.bold-placeholder::placeholder {
    font-weight: bold;
}


