@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: Inter, sans-serif;
}

.bold-placeholder::placeholder {
    font-weight: bold;
}

.button-grow { 
    transition: all .2s ease-in-out; 
    }
    
.button-grow:hover { 
    transform: scale(1.05); 
}
