.play {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.play-cursor{
    cursor: pointer;
}

.chat-message{
    @apply overflow-x-hidden;
    padding-top: 0.416rem;
    padding-left: 1rem;
    padding-bottom: 0.416rem;
    padding-right: calc(1rem - calc( 0.7 * calc(25vw - 100%)));
}

@media (width <= 1300px){
    .chat-message{
        @apply w-full pr-4;
    }
}

