.nav-item{
    @apply  w-full   relative text-center  px-6  flex items-center  gap-2   overflow-hidden;
                     
    font-size: 16px;
    white-space: nowrap;
    min-height: 124px;
    z-index: 2;
}

.nav-item-phone{
    @apply  relative text-center px-4  flex items-center  gap-2   overflow-hidden;
                     
    white-space: nowrap;
    width: 100%;
    min-height: 96px;
    z-index: 2;
}


@media (max-width: 1199px){
    .nav-item{
        @apply px-4;
    }
 
}