
/* Original Code: https://codepen.io/mburnette/pen/LxNxNg */

.toggle-switch-input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 23px;
    background-color: rgba(209, 213, 219);
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle-switch-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-switch-input:checked + .toggle-switch-label {
    background-color: rgba(191, 219, 254);
}

.toggle-switch-input:checked + .toggle-switch-label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.toggle-switch-label:active:after {
    width: 40px;
}

