
.discovery-list{
    @apply flex flex-col bg-background-default border-l-2   border-border-mild   absolute overflow-y-auto overflow-x-hidden  right-0 bottom-0   ;
    height: calc(100vh - 2.7rem);
    width: 19rem;
    z-index: 2;
  }

.discovery-list-header{
    @apply sticky top-0 flex left-0 justify-between  bg-background-default  items-center  ;
    z-index: 3;
    padding-left: 1.5rem;
    min-height: 2rem;
    width: calc(19rem - calc(19rem - 100%));
    right: 1.09rem;
  }


@media (width <= 1300px){
  .discovery-list{
      @apply  relative border   rounded-md  mt-2;
      height: calc(100vh - 15em);
    }

    .discovery-list-header{
      @apply pl-4;
      }
}

.discovery-list-header-phone{
  @apply absolute w-screen h-10 flex items-center bg-background-default top-0 left-0 pl-4;
  z-index: 3;
}

.discovery-list-phone{
  @apply fixed bg-background-default overflow-y-auto overflow-x-hidden left-0 pt-10 flex flex-col gap-2 w-full border  border-background-default; 
  top: 2.7rem;
  height: calc(100% - 5.4rem);
}