.chatbox-container{
    @apply w-full flex flex-col relative;
    --height: calc(100vh - 80px);
    height: var(--height);
}

.chatbox-container-phone {
    @apply flex flex-col relative;
    --height: 100%;
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
}

.chatbox-container-full{
    @apply fixed w-screen left-0 right-0;
    height: calc(100vh - 6.5em) !important;
}

.chatbox{
    @apply  w-full flex flex-col;
    height: calc(100vh - 64px - 80px);
    justify-content: flex-end;
}

.chatbox-phone{
    @apply w-full flex flex-col;  
    height: calc(100% - 64px);
    justify-content: flex-end;
    bottom: 64px;
}

.chatbox-full{
    @apply w-screen fixed;
    height: calc(100% - 64px - 64px);
    top: 64px; 
}

@media (max-width: 1099px){

    .chatbox-container{
        @apply rounded-md;
        height: calc(100% - 64px );

    }    

    .chatbox {
        height: calc(100% - 64px );
    }
}