.chatbox-container{
    @apply w-full flex flex-col relative;
    --height: calc(100vh - 3.333rem);
    height: var(--height);
}

.chatbox-container-phone {
    @apply flex flex-col relative;
    --height: 100%;
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
}

.chatbox-container-full{
    @apply fixed w-screen left-0 right-0;
    height: calc(100vh - 6.5em) !important;
}

.chatbox{
    @apply  w-full flex flex-col;
    height: calc(100vh - 2.666rem - 3.333rem);
    justify-content: flex-end;
}

.chatbox-phone{
    @apply w-full flex flex-col;  
    height: calc(100% - 2.666rem);
    justify-content: flex-end;
    bottom: 2.666rem;
}

.chatbox-full{
    @apply w-screen fixed;
    height: calc(100% - 2.666rem - 2.666rem);
    top: 2.666rem; 
}

@media (width <= 1300px){

    .chatbox-container{
        @apply rounded-md;
        height: calc(100% - 2.666rem);

    }    

    .chatbox {
        height: calc(100% - 2.666rem );
    }
}