.chatbox-container{
    --height: calc(100vh - 80px);
    height: var(--height);
}

.chatbox-container-phone {
    --height: 100%;
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
}

.chatbox-container-full{
    height: calc(100vh - 6.5em) !important;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
}

.chatbox{
    height: calc(100vh - 64px - 80px);
    width: 100%;
}

.chatbox-phone{
    height: calc(100% - 64px);
    width: 100%;
    bottom: 64px;
    /* position: fixed;     */
}

.chatbox-full{
    height: calc(100% - 64px - 64px);
    width: 100vw;
    top: 64px; 
    position: fixed;
}

@media (max-width: 1099px){

    .chatbox-container{
        @apply rounded-md;
        height: calc(100% - 64px );

    }    

    .chatbox {
        height: calc(100% - 64px );
    }
}