/*  Source: https://projects.lukehaas.me/css-loaders/ */
.loader, .loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 2em;
  height: 8em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  position: relative;
  font-size: 0.458rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -3em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 8em;
  }
  40% {
    box-shadow: 0 -4em;
    height: 10em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 8em;
  }
  40% {
    box-shadow: 0 -4em;
    height: 10em;
  }
}


@media (width <= 640px){
  .loader{
    font-size: 0.333rem;
  }

}