.talk-modal{
    @apply fixed border flex flex-col z-20  gap-3 py-7 px-8 rounded-md shadow-lg;
    left: 37.5%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 27em;
}    


@media (max-width: 1099px){
    .talk-modal{
        @apply absolute;
        left: 50%;
        top: calc(50% - 35px);
        height: min-content;
    }
}

.talk-button {
    @apply  font-bold border    rounded-md  justify-center flex text-center items-center gap-1  ;
    height: 40px;
    width: 104px;
}

.talk-button-phone {
    @apply  flex flex-col items-center justify-center font-bold gap-0.5;
    font-size: 16px;
    width: 20vw;

}

.megaphone{
    font-size: 24px;
}

@media (max-width: 799px){

    .talk-button {
        @apply gap-0.5;
        height: 40px;
        width: 80px;
        font-size: 14px ;

    }

    .megaphone{
        font-size: 20px ; 
    }

    

}

.talk-modal-phone{
    @apply fixed flex flex-col z-20 gap-3 py-10 justify-center border-t w-full drop-shadow-none;
    left: 0;
    height: calc(100% - 64px - 64px - 56.25vw - 1rem);
    min-height: 10rem;
    bottom: 64px;
    padding-left:24px;
    padding-right:24px;

}    
