.talk-modal{
    @apply fixed border  border-border-default  bg-background-default shadow-lg flex flex-col z-20  gap-3 py-7 px-8 rounded-md;
    left: 37.5%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 18rem;    

}    


@media (width <= 1300px){
    .talk-modal{
        @apply absolute;
        left: 50%;
        top: calc(50% - 1.458rem);
        height: min-content;
    }
}

.talk-button {
    @apply  font-bold border  shadow   rounded-md  justify-center flex text-center items-center gap-1 border-border-default ;
    height: 1.7rem;
    width: 4.4rem;
}

.talk-button-phone {
    @apply  flex flex-col items-center justify-center font-bold gap-0.5 text-sm;
    width: 20vw;

}

.megaphone{
    @apply text-xl;
}

@media (width <= 1000px){

    .talk-button {
        @apply gap-0.5 text-sm;
        height: 1.7rem;
        width: 3.4rem;

    }

    .megaphone{
        font-size: 0.84rem ; 
    }

}

.talk-modal-phone{
    @apply fixed border-t      border-border-default  bg-background-default left-0 px-4 flex flex-col z-20 gap-3 py-10 justify-center w-full;
    height: calc(100% - 2.7rem - 2.7rem - 56.25vw - 1rem);
    min-height: 10rem;
    bottom: 2.7rem;
}    


