.talk-modal{
    @apply fixed border border-border-default bg-background-default shadow-lg flex flex-col z-20  gap-3 py-7 px-8 rounded-md;
    left: 37.5%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 27em;    
}    


@media (max-width: 1099px){
    .talk-modal{
        @apply absolute;
        left: 50%;
        top: calc(50% - 35px);
        height: min-content;
    }
}

.talk-button {
    @apply  font-bold border shadow   rounded-md  justify-center flex text-center items-center gap-1 border-border-default;
    height: 40px;
    width: 104px;
}

.talk-button-phone {
    @apply  flex flex-col items-center justify-center font-bold gap-0.5 text-sm;
    width: 20vw;

}

.megaphone{
    font-size: 24px;
}

@media (max-width: 799px){

    .talk-button {
        @apply gap-0.5 text-sm;
        height: 40px;
        width: 80px;

    }

    .megaphone{
        font-size: 20px ; 
    }

}

.talk-modal-phone{
    @apply fixed border-t   border-border-default bg-background-default left-0 px-4 flex flex-col z-20 gap-3 py-10 justify-center w-full;
    height: calc(100% - 64px - 64px - 56.25vw - 1rem);
    min-height: 10rem;
    bottom: 64px;
}    


