.home-container{
    height: 100vh;
    width: 100vw;
    @apply px-2 sm:px-5 lg:px-10 overflow-hidden  ;
}

.home-container-phone-portrait{
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

