.chat-container {
   @apply flex flex-col justify-between  h-full border-l-2  border-border-mild  bg-background-default   ;
}

@media (width > 1300px){
    .chat-container{
        @apply shadow-md ;
        width: 25vw;
    }

}   

@media (width <= 1300px){

    .chat-container{
        @apply shadow rounded-md border-2  mb-2 mx-4;
        width: calc(100% - 1.7rem);
        height: 40vh;
        min-height: 17rem;
    }
}

.chat-container-phone-landscape{
    display: none !important;
}

.chat-container-phone{
    @apply  w-full border-t   fixed  left-0 bg-background-default border-border-mild  ;
    bottom: 2.7rem;
    height: calc(100% - 2.7rem - 2.7rem - 56.25vw - 1rem);
}

.chat-container-full{
    @apply fixed top-0 left-0 w-full h-full border-0;
    z-index: 100;
}