.chat-container {
   @apply flex flex-col justify-between  h-full border-l bg-background-default border-border-default  ;
}

@media (min-width: 1100px){
    .chat-container{
        @apply shadow-md ;
        width: 25vw;
    }

}

@media (max-width: 1099px){

    .chat-container{
        @apply shadow rounded-md border mb-2;
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 48px);
        height: 40vh;
        min-height: 25em;
    }
}

.chat-container-phone-landscape{
    display: none !important;
}

.chat-container-phone{
    @apply  w-full border-t fixed  left-0 bg-background-default border-border-default ;
    bottom: 64px;
    height: calc(100% - 64px - 64px - 56.25vw - 1rem);
}

.chat-container-full{
    @apply fixed top-0 left-0 w-full h-full;
    z-index: 100;
}