.settings-menu{
    height: 6em;
    flex-direction: column-reverse;
    top: calc(25px + 2em);
    right: 25px;
}

.settings-menu-phone{
    left: 0;
    top: 1.5em;
    padding: 1em;
    width: 9em;
    flex-direction: column-reverse;
}
