.upperow-player{
    @apply flex flex-col;
    width: 75vw;
}

.station-container{
    @apply flex w-full h-screen top-0 left-0  text-text-default bg-background-darker text-base;
 }

 @media (width <= 1300px){

    .station-container{
        @apply  flex-col overflow-y-auto overflow-x-hidden gap-2 ;
     }
     
     .upperow-player{
        width: 100%;
        height: min-content;
        min-height: calc(26rem);
     }
}