.upperow-player{
    @apply flex flex-col;
    width: 75vw;
}

.station-container{
    @apply flex w-full h-screen top-0 left-0 ;
 }

 @media (max-width: 1099px){

    .station-container{
        @apply flex flex-col overflow-y-auto overflow-x-hidden gap-2 ;

     }
     
     .upperow-player{
        width: 100%;
        height: min-content;
        min-height: calc(26rem);
     }
}

.upperow-player-phone {
    
}

@media (max-width: 1099px) and (max-height: 999px) {

    .station-container{
    }

}