.play-menu{
   @apply fixed flex flex-col z-20 gap-3 py-10 px-8 rounded-md shadow-lg border-2  border-border-mild  text-base  bg-background-default;
   left: 37.5%;
   transform: translate(-50%, -50%);
   top: 50%;
   width: 18rem;
}

@media (width <= 1300px){
    .play-menu{
        @apply absolute;
        height: min-content;
        transform: translate(-50%, -50%);
        top: calc(50% - 1.458rem) ;
        left: 50%;
    }
}

.play-button {
    @apply   font-bold  shadow rounded-md  justify-center flex text-center items-center gap-1 border  border-border-default  ;
    height: 1.7rem;
    width: 4.4rem;
}

.play-button-phone {
    @apply flex flex-col justify-center items-center font-bold gap-0.5 text-sm; 
    width: 20vw;
}

.play-circle{
    @apply text-xl;
}

@media (width <= 1000px){
    .play-button {
        @apply gap-0.5 text-sm;
        height: 1.7rem;
        width: 3.4rem;
    }

    .play-circle{
        font-size: 0.84rem ;
    }
}

.play-menu-phone {
    @apply fixed left-0 px-4 flex flex-col z-20 gap-3 py-10 justify-center border-t    w-full   border-border-mild  bg-background-default  ;
    height: calc(100% - 2.7rem - 2.7rem - 56.25vw - 1rem);
    min-height: 10rem;
    bottom: 2.7rem;
}

