.player {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
}


@media (max-width: 1099px){
    .player {
        height: calc(100% - 72px);
    }
}

.player-phone-landscape{
    @apply fixed top-0 left-0  ;
}

.player-phone-portrait{
    height: 56.25vw;
    width: 100vw;
}