.player {
    height: calc(100% - 80px);
    @apply w-full relative;
}


@media (max-width: 1099px){
    .player {
        height: calc(100% - 72px);
    }
}

.player-phone-landscape{
    @apply fixed top-0 left-0  ;
}

.player-phone-portrait{
    @apply w-screen;
    height: 56.25vw;
}