@media (min-width: 800px){
    .settings-button {
        @apply absolute shadow border  border-border-default rounded-md  left-0 flex items-center justify-center  font-bold gap-1;
        height: 40px;
        width: 120px;
     }
}

.gear{
    font-size: 24px; 
 }

@media (max-width: 799px){
    .settings-button {
        @apply  rounded-md border border-border-default  shadow left-0 flex items-center justify-center  font-bold gap-0.5 text-sm ;
        height: 40px;
        width: 96px;
     }

     .gear{
        font-size: 20px ; 
     }
    
}

.settings-button-phone {
    @apply flex flex-col justify-center items-center font-bold gap-0.5 text-sm;
    width: 20vw;
}

.settings-menu{
    @apply flex border border-border-default bg-background-default flex-col p-4  rounded-md gap-3 shadow-lg fixed z-20 ;
    height: 22rem;
    width: 24em;
    left: 22px;
    bottom: 79px;
}

@media (max-width: 1099px){
    .settings-menu{
        @apply absolute;
        bottom: 72px;
    }
}

.settings-menu-phone{
    @apply fixed top-0 left-0 w-screen flex flex-col gap-4 overflow-y-auto overflow-x-hidden bg-background-default p-4;
    height: calc(100% - 64px);
    z-index: 130;
}

  input[type="radio"] {
   filter: grayscale(0.6);
  }
