.settings-menu{
    height: 32em;
    width: 24em;
    left: 24px;
    bottom: 80px;
}

.settings-menu-phone{
    left: 0;
    top: 1.5em;
    padding: 1em;
    width: 9em;
    flex-direction: column-reverse;
}


  input[type="radio"] {
   filter: grayscale(0.6);
  }
